.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  gap: 3rem;
  background: url('/texture_bg.jpg') no-repeat center center;
}

.login__container button {
  border-color: white;
}

.logo {
  height: auto;
  width: 25rem;
  will-change: filter;
  transition: filter 300ms;
}

.isHover,
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
