.aside__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.aside__title {
  display: flex;
  width: 100%;
  min-height: 120px;
  border-bottom: 2px solid rgba(var(--tertiary-color-rgb), 0.4);
  align-items: center;
}

.aside__title h2 {
  padding: 2rem;
}

.aside__list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.aside__list::-webkit-scrollbar-track {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.aside__list::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

.aside__list::-webkit-scrollbar {
  width: 0.6rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex: 3;
}

.main__content__wrapper {
  display: flex;
  height: 100%;
  background-color: var(--primary-color);
}

.main__data__view__container {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--quaternary-color);
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  height: 100%;
  background-color: var(--quaternary-color);
}

.content__wrapper::-webkit-scrollbar-track {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.content__wrapper::-webkit-scrollbar {
  width: 0.6rem;
}
