.data__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.data__content p {
  padding: 3rem;
  line-height: 2;
}

.data__content img {
  max-width: 900px;
  margin-top: 1rem;
  justify-items: center;
}
