.layout__main_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar__container {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--secondary-color-rgb), 0.5);
}

.sidebar__links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.sidebar__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.sidebar__links a svg {
  width: 2rem;
  height: auto;
}
