.layout__main_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar__container {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--secondary-color-rgb), 0.5);
}

.sidebar__links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.sidebar__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.sidebar__links a:hover {
  background-color: rgba(var(--primary-color-rgb), 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar__links a svg {
  width: 2rem;
  height: auto;
}
