.avatar__container {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.avatar__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.avatar__details {
  display: flex;
  flex-direction: column;
  line-height: 0;
  color: black;
}
