.avatar__container {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}

.avatar__image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.3rem solid var(--tertiary-color);
  overflow: hidden;
}

.avatar__image {
  height: 100px;
  width: auto;
}

.avatar__details {
  display: flex;
  flex-direction: column;
  color: var(--tertiary-color);
}
